body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background: white;
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
}

h2 {
  color: #111;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

button {
  background-color: #111;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

input, textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 10px;
}

