/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #08080f;
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: #9b7cff;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* HERO */
.hero-section {
    text-align: center;
    padding: 50px 20px;
}

.hero-section h1 {
    font-size: 40px;
    line-height: 1.2;
}

.hero-text {
    margin: 15px auto;
    color: #cfcfcf;
    max-width: 600px;
}

.hero-buttons {
    margin-top: 20px;
    gap: 15px;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
}

.primary {
    background: #9b7cff;
    color: black;
}

.outline {
    background: none;
    border-color: #9b7cff;
    color: #9b7cff;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    text-align: center;
}

.dark-section {
    background: #0d0d1a;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

/* CONTACT */
.contact-info {
    margin: 10px 0;
    font-size: 18px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 15px;
    background: #111;
    margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav a {
        display: block;
        margin: 8px 0;
    }

    .hero-section h1 {
        font-size: 30px;
    }

    .card {
        width: 90%;
    }
}
